<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ELEVENLABS_Pricing </title>
  <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>

     <div class="wrapper">
        <div class="card">
            <h3> just try it for 9 /-</h3>
            <h1> 9 <span>/Month</span></h1>
            <p>current price 99 /month  only for this platform  </p>
            <ul>
                <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Voice Cloning</li>
                <li><i class="fa-solid fa-square-check"></i>  Indian Text To Speech</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
            </ul>
          <a href="https://rzp.io/l/1DOqwfgW" target="_blank">Choose Plan</a>

        </div>

        <div class="card">
            <h3>Startor</h3>
            <h1> 9/- inr<span>/Month</span></h1>
            <p> Now you can use free this </p>
            <ul>
            <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Voice Cloning</li>
                <li><i class="fa-solid fa-square-check"></i>  Indian Text To Speech</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
            </ul>
          <a href="https://rzp.io/l/1DOqwfgW" target="_blank">Choose Plan</a>

        </div>


        <div class="card active">
            <h3>Standard</h3>
            <h1> 9/- inr <span>/Month</span></h1>
            <p>Now you can use free this </p>
            <ul>
                 <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Voice Cloning</li>
                <li><i class="fa-solid fa-square-check"></i>  Indian Text To Speech</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
            </ul>
            <a href="https://rzp.io/l/1DOqwfgW">Choose Plan</a>

        </div>


        <div class="card">
            <h3>Premium</h3>
            <h1>9/- inr <span>/Month</span></h1>
            <p> Now you can use free this </p>
            <ul>
             <li><i class="fa-solid fa-square-check"></i> Use All In one AI</li>
                <li><i class="fa-solid fa-square-check"></i> AI Voice Cloning</li>
                <li><i class="fa-solid fa-square-check"></i>  Indian Text To Speech</li>
                <li><i class="fa-solid fa-square-check"></i>  Text To speech</li>
            </ul>
            <a href="https://rzp.io/l/1DOqwfgW">Choose Plan</a>

        </div>
    </div>

</body>
</html>